body{
	background-color: #61d3dd;
}

#q{
	padding: 4px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.container{
	color: #61d3dd;
	background-color: #255e63;
	width: 75%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 18px;
}

#resultsBox{
	display: none;
	background-color: #776a15;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}